# Data manipulation locally in jupyter , business thinking what data to present, think of KPIs

In [1]:
import pandas as pd

In [2]:
def read_data():
    songs_df = pd.read_csv("songs.csv")
    users_df = pd.read_csv("users.csv")
    streams_df = pd.read_csv("streams1.csv")
    streams_df1 = pd.read_csv("streams2.csv")
    streams_df2 = pd.read_csv("streams3.csv")
    streams_total_df = pd.concat([streams_df, streams_df1, streams_df2], ignore_index=True)

    return songs_df, users_df, streams_total_df

In [3]:
songs_df, users_df, streams_total_df = read_data()

In [4]:
songs_df.head()

,id,track_id,artists,album_name,track_name,popularity,duration_ms,explicit,danceability,energy,...,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,track_genre
0,0,5SuOikwiRyPMVoIQDJUgSV,Gen Hoshino,Comedy,Comedy,73,230666,False,0.676,0.4610,...,-6.746,0,0.1430,0.0322,0.000001,0.3580,0.715,87.917,4,acoustic
1,1,4qPNDBW1i3p13qLCt0Ki3A,Ben Woodward,Ghost (Acoustic),Ghost - Acoustic,55,149610,False,0.420,0.1660,...,-17.235,1,0.0763,0.9240,0.000006,0.1010,0.267,77.489,4,acoustic
2,2,1iJBSr7s7jYXzM8EGcbK5b,Ingrid Michaelson;ZAYN,To Begin Again,To Begin Again,57,210826,False,0.438,0.3590,...,-9.734,1,0.0557,0.2100,0.000000,0.1170,0.120,76.332,4,acoustic
3,3,6lfxq3CG4xtTiEg7opyCyx,Kina Grannis,Crazy Rich Asians (Original Motion Picture Sou...,Can't Help Falling In Love,71,201933,False,0.266,0.0596,...,-18.515,1,0.0363,0.9050,0.000071,0.1320,0.143,181.740,3,acoustic
4,4,5vjLSffimiIP26QG5WcN2K,Chord Overstreet,Hold On,Hold On,82,198853,False,0.618,0.4430,...,-9.681,1,0.0526,0.4690,0.000000,0.0829,0.167,119.949,4,acoustic

In [5]:
songs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89741 entries, 0 to 89740
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                89741 non-null  int64
 1   track_id          89741 non-null  object
 2   artists           89740 non-null  object
 3   album_name        89740 non-null  object
 4   track_name        89740 non-null  object
 5   popularity        89741 non-null  int64
 6   duration_ms       89741 non-null  int64
 7   explicit          89741 non-null  bool
 8   danceability      89741 non-null  float64
 9   energy            89741 non-null  float64
 10  key               89741 non-null  int64
 11  loudness          89741 non-null  float64
 12  mode              89741 non-null  int64
 13  speechiness       89741 non-null  float64
 14  acousticness      89741 non-null  float64
 15  instrumentalness  89741 non-null  float64
 16  liveness          89741 non-null  float64
 17  valence           89741 non-null  float64
 18  tempo             89741 non-null  float64
 19  time_signature    89741 non-null  int64
 20  track_genre       89741 non-null  object
dtypes: bool(1), float64(9), int64(6), object(5)
memory usage: 13.8+ MB

In [6]:
# mode â€“ Binary value (0 = Minor, 1 = Major), representing the tonality of the track.

In [7]:
songs_df.dtypes

id                    int64
track_id             object
artists              object
album_name           object
track_name           object
popularity            int64
duration_ms           int64
explicit               bool
danceability        float64
energy              float64
key                   int64
loudness            float64
mode                  int64
speechiness         float64
acousticness        float64
instrumentalness    float64
liveness            float64
valence             float64
tempo               float64
time_signature        int64
track_genre          object
dtype: object

In [8]:
songs_df.describe()

,id,popularity,duration_ms,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
count,89741.000000,89741.000000,8.974100e+04,89741.000000,89741.000000,89741.000000,89741.000000,89741.000000,89741.000000,89741.000000,89741.000000,89741.000000,89741.000000,89741.000000,89741.000000
mean,53479.144148,33.198438,2.291418e+05,0.562166,0.634458,5.283549,-8.499004,0.636966,0.087442,0.328289,0.173413,0.216970,0.469477,122.058316,3.897427
std,33409.981502,20.580824,1.129477e+05,0.176691,0.256605,3.559897,5.221490,0.480877,0.113277,0.338321,0.323848,0.194884,0.262864,30.117532,0.453435
min,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,-49.531000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23767.000000,19.000000,1.730400e+05,0.450000,0.457000,2.000000,-10.322000,0.000000,0.036000,0.017100,0.000000,0.098200,0.249000,99.264000,4.000000
50%,50681.000000,33.000000,2.132930e+05,0.576000,0.676000,5.000000,-7.185000,1.000000,0.048900,0.188000,0.000058,0.132000,0.457000,122.013000,4.000000
75%,80618.000000,49.000000,2.642930e+05,0.692000,0.853000,8.000000,-5.108000,1.000000,0.085900,0.625000,0.097600,0.279000,0.682000,140.077000,4.000000
max,113999.000000,100.000000,5.237295e+06,0.985000,1.000000,11.000000,4.532000,1.000000,0.965000,0.996000,1.000000,1.000000,0.995000,243.372000,5.000000

In [9]:
users_df.head()

   user_id         user_name  user_age   user_country  created_at
0        1      Norma Fisher        65  United States  2024-02-07
1        2    Jorge Sullivan        28  United States  2024-11-28
2        3   Elizabeth Woods        19  United States  2024-11-16
3        4      Susan Wagner        45  United States  2024-06-14
4        5  Peter Montgomery        61  United States  2024-07-24

In [10]:
users_df.user_country.unique()

array(['United States', 'United Kingdom', 'Australia', 'Canada',
       'Ireland', 'New Zealand'], dtype=object)

In [11]:
users_df.describe()

            user_id      user_age
count  50000.000000  50000.000000
mean   25000.500000     43.569980
std    14433.901067     14.996325
min        1.000000     18.000000
25%    12500.750000     31.000000
50%    25000.500000     44.000000
75%    37500.250000     57.000000
max    50000.000000     69.000000

In [14]:
streams_total_df.head()

   user_id                track_id          listen_time
0    26213  4dBa8T7oDV9WvGr7kVS4Ez  2024-06-25 17:43:13
1     6937  4osgfFTICMkcGbbigdsa53  2024-06-25 07:26:00
2    21407  2LoQWx41KeqOrSFra089YS  2024-06-25 13:25:26
3    47146  7cfG5lFeJWEgpSnubt4O4W  2024-06-25 18:17:50
4    38594  6tilCYbheGMHo3Hw4F22hF  2024-06-25 17:33:21

In [15]:
streams_total_df.listen_time.max()

'2024-06-25 23:38:14'

# kpis (Key Performance Indicators):
- find most popular songs, artist
- find most popular genres by age, country
- build recommendation system
- what metric influene the most popularity
- traffic graph by time of day

User Engagement KPIs
    Total Active Users â€“ Count of unique users who have streamed at least one song.
    New Users Growth Rate â€“ Percentage increase in newly registered users over a time period.
    User Retention Rate â€“ Percentage of users who continue to use the platform over time.
    Average Listening Time per User â€“ Total listening time divided by the number of active users.
Streaming Behavior KPIs
    Total Songs Streamed â€“ Count of all streamed songs.
    Most Streamed Songs â€“ Songs with the highest play counts.
    Most Popular Artists â€“ Artists with the highest number of streams.
    Peak Streaming Hours â€“ Time periods with the highest number of streams.
Music Performance KPIs
    Song Popularity Score â€“ Based on the "popularity" column in the songs dataset.
    Top Genres by Streams â€“ Most streamed music genres.
    Average Song Duration Streamed â€“ Analyzing whether users prefer short or long songs.
Demographic KPIs
    Top Countries by User Activity â€“ Countries with the most active users.
    Age Group Analysis â€“ Streaming preferences segmented by age groups.

# data validation

In [18]:
# validate songs_df

In [16]:
def validate_songs_df(songs_df):
    # drop rows with missing critical values
    songs_df.dropna(subset=['popularity', 'track_id', 'artists', 'track_name', 'duration_ms'], inplace=True)
    # fill nan values with 0
    songs_df.fillna(0, inplace=True)
    # drop duplicate rows
    songs_df.drop_duplicates(inplace=True)

    # Validate the range for numerical columns
    songs_df = songs_df[(songs_df['duration_ms'] > 0)]  # duration_ms must be positive
    songs_df = songs_df[(songs_df['danceability'].between(0, 1))]  # between 0 and 1
    songs_df = songs_df[(songs_df['energy'].between(0, 1))]
    songs_df = songs_df[(songs_df['loudness'].between(-80, 5))]  # loudness should be in a reasonable range
    songs_df = songs_df[(songs_df['mode'].isin([1, 0]))] # mode or 0 or 1
    songs_df = songs_df[(songs_df['speechiness'].between(0, 1))] #
    songs_df = songs_df[(songs_df['acousticness'].between(0, 1))] #
    songs_df = songs_df[(songs_df['instrumentalness'].between(0, 1))] #
    songs_df = songs_df[(songs_df['liveness'].between(0, 1))] #
    songs_df = songs_df[(songs_df['valence'].between(0, 1))] #
    songs_df = songs_df[(songs_df['tempo'] > 0)]  # tempo must be positive

    return songs_df

In [17]:
# validate users_df

In [18]:
def validate_users_df(users_df):
    # drop rows with missing critical values
    users_df.dropna(subset=['user_id', 'user_name'], inplace=True)
    # fillna with 0
    users_df.fillna(0, inplace=True)
    # created_at to date
    users_df['created_at'] = pd.to_datetime(users_df['created_at'], errors='coerce')
    users_df.dropna(subset=['created_at'], inplace=True)
    # drop duplicates
    users_df.drop_duplicates(subset=['user_id'], inplace=True)

    return users_df

In [19]:
# streams validation

In [20]:
def validate_stream_df(streams_df, songs_df, users_df):
    # Ensure that track_id in stream_df exists in songs_df
    streams_df = streams_df[streams_df['track_id'].isin(songs_df['track_id'])]
    # Ensure that user_id in stream_df exists in users_df
    streams_df = streams_df[streams_df['user_id'].isin(users_df['user_id'])]
    # convert date
    streams_df['listen_time'] = pd.to_datetime(streams_df['listen_time'], errors='coerce') 
    streams_df.dropna(subset=['listen_time'], inplace=True)

    return streams_df

In [21]:
users_df = validate_users_df(users_df)

In [22]:
songs_df = validate_songs_df(songs_df)

In [23]:
streams_total_df = validate_stream_df(streams_total_df, songs_df, users_df)

## calculate metrics and listening patterns

In [24]:
# 1) Top Genres by Streams and Age group

In [25]:
def calculate_genres_age_distribution(users_df, songs_df, streams_total_df):
    age_bins = [0, 18, 25, 35, 45, 100]
    age_labels = ['Under 18', '18-25', '26-35', '36-45', '46+']
    users_df['age_group'] = pd.cut(users_df['user_age'], bins=age_bins, labels=age_labels, right=False)

    merged_df = pd.merge(streams_total_df, users_df, on='user_id', how='inner')
    merged_df = pd.merge(merged_df, songs_df, on='track_id', how='inner')
    count_streams = merged_df.groupby(['age_group', 'track_genre'], observed=True).size().reset_index(name='stream_count')

    return count_streams

In [26]:
count_streams = calculate_genres_age_distribution(users_df, songs_df, streams_total_df)

In [27]:
count_streams.sort_values(by=["stream_count"], ascending=False).head(10)

    age_group track_genre  stream_count
353       46+    children           212
405       46+        kids           205
344       46+       anime           204
365       46+      disney           203
449       46+    trip-hop           202
434       46+       salsa           200
356       46+        club           199
385       46+       happy           199
351       46+    cantopop           199
414       46+     new-age           193

In [28]:
# 2) Peak Streaming Hours by country

In [29]:
def calculate_country_hours_distribution(songs_df, users_df, streams_total_df):
    merged_df = pd.merge(streams_total_df, users_df, on='user_id', how='inner')
    hours_country_df = merged_df.groupby(by=[merged_df.listen_time.dt.hour, 'user_country']).size().reset_index(name='stream_count')
    return hours_country_df

In [33]:
hours_country_df = calculate_country_hours_distribution(songs_df, users_df, streams_total_df)

In [34]:
hours_country_df.sort_values(by=["listen_time", "stream_count"], ascending=[True, False])

     listen_time    user_country  stream_count
5              0   United States          1395
4              0  United Kingdom            11
1              0          Canada             8
0              0       Australia             7
2              0         Ireland             7
..           ...             ...           ...
136           23  United Kingdom             7
135           23     New Zealand             5
132           23       Australia             3
134           23         Ireland             3
133           23          Canada             1

[138 rows x 3 columns]

In [32]:
# TODO: add logs

#### Connect to S3 ad read files from there

In [39]:
import boto3

s3 = boto3.client('s3')
response = s3.list_objects_v2(Bucket="spsongsbucket")
for obj in response.get("Contents", []):
    print(obj["Key"])

DAGs/
data/
data/songs.csv
data/streams1.csv
data/streams2.csv
data/streams3.csv
data/users.csv

In [71]:
from airflow import DAG
from airflow.providers.amazon.aws.hooks.s3 import S3Hook
from airflow.operators.python import PythonOperator
from airflow.utils.dates import days_ago

In [42]:
BUCKET_NAME = "spsongsbucket"
PREFIX = "data/"

In [49]:
REDSHIFT_TABLE = "user_data"

In [47]:
def read_csvs_from_s3(**kwargs):
    """ Reads all CSV files from S3 and saves their content in XCom """
    s3_hook = S3Hook(aws_conn_id="aws_default")
    files = s3_hook.list_keys(bucket_name=BUCKET_NAME, prefix=PREFIX)

    if not files:
        print("No files found in S3.")
        return []

    csv_data = []
    
    for file_key in files:
        if file_key.endswith("users.csv"):  # Ensure we're only reading CSVs
            file_content = s3_hook.read_key(bucket_name=BUCKET_NAME, key=file_key)
            csv_data.append({"file_name": file_key, "content": file_content})
    
    print(f"Read {len(csv_data)} CSV files from S3.")
    
    return csv_data  # Save to XCom

In [50]:
csv_data = read_csvs_from_s3()

[2025-02-20T14:20:00.045+0200] {base.py:84} INFO - Retrieving connection 'aws_default'
[2025-02-20T14:20:00.135+0200] {credentials.py:1278} INFO - Found credentials in shared credentials file: ~/.aws/credentials
[2025-02-20T14:20:01.535+0200] {credentials.py:1278} INFO - Found credentials in shared credentials file: ~/.aws/credentials
Read 1 CSV files from S3.

In [65]:
from airflow.providers.postgres.hooks.postgres import PostgresHook
import pandas as pd
from io import StringIO

In [72]:
def load_csv_to_redshift(**kwargs):
    """ Gets CSV data from XCom and loads it into Redshift """
    ti = kwargs["ti"]
    csv_data = ti.xcom_pull(task_ids="read_s3_task")  # Fetch from XCom
    
    if not csv_data:
        print("No data found in XCom.")
        return
    
    redshift_hook = PostgresHook(postgres_conn_id="redshift_connection")
    conn = redshift_hook.get_conn()
    cursor = conn.cursor()
    
    for file in csv_data:
        print(f"Processing {file['file_name']}")
        
        # Load CSV into Pandas DataFrame
        df = pd.read_csv(StringIO(file["content"]))
        
        # Insert into Redshift
        for _, row in df.iterrows():
            insert_query = f"""
            INSERT INTO {REDSHIFT_TABLE} (user_id, user_name, user_age, user_country, created_at)
            VALUES (%s, %s, %s, %s, %s)
            """
            cursor.execute(insert_query, (
                row["user_id"],
                row["user_name"],
                row["user_age"],
                row["user_country"],
                row["created_at"]
            ))

    conn.commit()
    cursor.close()
    conn.close()
    print("Data successfully inserted into Redshift.")